/* Sección de libros */
.section-books{
    padding-top: 80px; 
}

.books-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta automáticamente las columnas */
    gap: 2rem; 
    justify-content: center;
    margin-bottom: 2rem;
}

.book {
    font-family: var(--text-font);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 180px;
    padding: 1rem 1.5rem;
    text-align: center;
    display: flex; /* Activa Flexbox */
    flex-direction: column; /* Alinea los elementos en columna */
}


.book-image {
    width: 80%; /* Ocupa todo el ancho del contenedor */
    height: 200px; /* Altura fija */
    object-fit: cover; /* Ajusta la imagen para llenar el área sin distorsión */
    display: block; /* Asegura que se comporte como un bloque dentro del contenedor */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.book-title {
    margin: 0;
    padding-top: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
}

.book-author {
    margin: .5rem;
    font-size: 1rem;
    color: var(--secondary-color);
}

.book-button {
    display: inline-block;
    margin-top: 1rem; /* Espaciado entre las autoras y el botón */
    padding: 0.7rem 1.3rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: var(--primary-color); /* Color principal del tema */
    border: none;
    border-radius: 5%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Elimina el subrayado por defecto */
}

.detalle-button {
    display: inline-block;
    margin-top: auto;
    padding: 0.7rem 1.3rem;
    margin-bottom: .5rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: var(--primary-color); /* Color principal del tema */
    border: none;
    border-radius: 5%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Elimina el subrayado por defecto */
}
.book-button:hover {
    background-color: var(--secondary-color); 
}

.tags{
    margin-bottom: 1.5rem;

}