:root{
    --login-color: #367A6A;
}

/* Login Section */
.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    background-color: var(--background-color);
    padding: 1rem;
}

.login-form {
    background-color: #fff;
    padding: 0px 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    font-family: var(--text-font);
}

.login-title {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.login-subtitle {
    margin: -0.5rem 0 1.5rem; /* Ajusta los márgenes para buena separación */
    font-size: 15px;
    color: var(--login-color);
}

.form-group {
    width: 100%; 
    margin-bottom: 1rem;
    text-align: left;
}


.form-group label {
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 0.5rem;
    display: block; 
}

.form-group input {
    width: 100%; /* Full width within the form-group */
    padding: 0.8rem;
    font-size: 1rem;
    box-shadow: 0 1px 2px #7ecebb; /* Desvanecido */
    border: 1px solid var(--login-color);
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    box-sizing: border-box; /* Prevent padding from breaking width */
}


.login-button {
    margin-top: .5rem;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: var(--login-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%; 
}

.login-button:hover {
    transform: scale(1.05);
}

.login-button:active {
    transform: scale(0.95);
}

/* Texto debajo del botón */
.register-text {
    text-align: left;
    margin-top: 1.5rem;
    font-size: 15px;
    width: 100%;
    color: var(--login-color);
}



.register-link {
    color: var(--login-color);
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s;
}

.register-link:hover {
    color: var(--secondary-color);
}
